@model AuthModel

@if (TempData["ChangePasswordSuccess"] != null)
{
    <span class="text-success">@TempData["ChangePasswordSuccess"]</span>
}
<div>
    @if (TempData["linkExpired"] == null)
    {
        <form asp-action="ChangePassword" asp-controller="Authentication" method="post">
            @* Add a hidden field to hold the user's email *@
            <input type="hidden" asp-for="@Model.Email" />

            <label asp-for="@Model.Password"></label>
            <input class="my-1 form-control" type="text" asp-for="@Model.Password" placeholder="Password" />

            @if (TempData["ChangePasswordErr"] != null)
            {
                <span class="text-danger">@TempData["ChangePasswordErr"]</span>
            }

            <div>
                <input class="btn btn-primary" type="submit" value="Change Password" />
            </div>
        </form>
    }
    else
    {
        <h1>Link Expired</h1>
    }
</div>
